.App {
  text-align: center;
}

.skip-card:hover {
  transform: scale(1.03);
  box-shadow: 0 0 12px rgba(0, 123, 255, 0.3);
}

/* App.css */
.skip-card img {
  height: 200px;
  object-fit: cover;
}

.hover-shadow:hover {
  box-shadow: 0 0 16px rgba(0, 123, 255, 0.25);
  transform: translateY(-20px);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}
